form {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  margin: 0 auto;
  padding: 0 1rem;
}

input, button {
    border: none;
    border-radius: 0.25rem;
    outline: none;
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
}

label {
  color: #FFF;
  font-size: 1.25rem;
}

button {
  background-color: $success-color;
  align-self: stretch;

  &:disabled {
    opacity: 0.8;
  }
}

@media screen and (min-width: 400px){
  form {
    max-width: 24rem;
  }
}