@import "colors";
@import "form";
@import "buttons";
@import "lists";

html, body {
  padding: 0;
  margin: 0;
  height: 100vw;
  width: 100vw;
}

body {
  background-color: #005eb8;
  color: #fff;
  font-size: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0 auto;

  min-width: 20rem;
  max-width: 40rem;
}

h1,h3 {
  color: #FFF;
  line-height: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0.9375rem auto;
}

h3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 0.9375rem;
  opacity: 0.5;
  text-align: left;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  color: #FFF;
}