rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /venues/{venue} {
    	allow read;
    } 
    match /visits/{visit} {
  		allow create;
    }
  }
}