rules_version = '2';
service cloud.firestore {
  function isSignedIn() {
    return request.auth != null;
  }
  match /databases/{database}/documents {
    match /venues {
    	allow read, write: if isSignedIn();
    }
    match /visit {
    	allow read, write;
    }
    match /{document=**} {
      allow read;
      allow write: if isSignedIn();
    }
  }
}